---
layout: bootstrap
id: index
title: PHPfox - Social Networking Software
keywords: PHPfox, Social Networking, Social Network, Social Media, Social network script, start social network, create own social network, build community site, facebook clone, myspace clone, PHP script
description: The ultimate solution for your social network. PHPfox is easy to use, easy to customize and packed with advanced social networking features found on top community websites!
container: hide
---

<div id="get-started-form">
	<div class="container">
		<form class="form-inline" id="new-order">
			<input type="hidden" name="id" id="order-id" value="1365422020">
			<div class="form-group">
				<div class="alert alert-danger hide" role="alert">Provide your name.</div>
				<input type="text" class="form-control" id="name" placeholder="Name">
			</div>
			<div class="form-group">
				<div class="alert alert-danger hide" role="alert">Provide a valid email.</div>
				<input type="email" class="form-control" id="email" placeholder="Email">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary active">
					Get Started! <em>$299<span> / one-time fee</span></em>
					<i class="fa fa-spin fa-spinner"></i>
				</button>
			</div>
		</form>
	</div>
</div>

<section id="get-started">
	<div class="item background-cover image-load" data-src="/assets/img/members-profile-social-network-website-with-phpfox-script.jpg">
		<div class="container">
			<div class="row">
				<h1>Start your social network today!</h1>
				<div class="learn-more">
					<div>
						With one of our products
					</div>

					<a href="#intro" class="version-4">
						Neutron<span>the future</span>
					</a>
					<span>or</span>
					<a href="/nebula" class="version-3">
						Nebula<span>the classic</span>
					</a>
				</div>
			</div>

		</div>
		<div class="overlay-bg"></div>
	</div>
</section>

<section id="intro" class="text-center">

	<div class="container">
		<div class="row" data-scrollreveal="enter after 0.55s">
			<div class="page-header">
				<h1>PHPfox helps create your custom social network</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3 text-center overlay-text icons" data-scrollreveal="enter after 0.30s">
				<div class="icon-wrapper">
					<i class="fa fa-cloud icon-large"></i>
				</div>
				<h3>Businesses</h3>
				<p>Build an Enterprise Social Network and let your employees collaborate with each other.</p>
			</div>
			<div class="col-sm-3 text-center overlay-text icons" data-scrollreveal="enter after 0.40s">
				<div class="icon-wrapper">
					<i class="fa fa-rocket icon-large"></i>
				</div>
				<h3>Startups</h3>
				<p>Create your own unique Social Website with your brand.</p>
			</div>
			<div class="col-sm-3 text-center overlay-text icons" data-scrollreveal="enter after 0.50s">
				<div class="icon-wrapper">
					<i class="fa fa-graduation-cap icon-large"></i>
				</div>
				<h3>Organizations</h3>
				<p>Start your Educational Network for your school or institution, with various User Group Levels.</p>
			</div>

			<div class="col-sm-3 text-center overlay-text icons" data-scrollreveal="enter after 0.60s">
				<div class="icon-wrapper">
					<i class="fa fa-gamepad icon-large"></i>
				</div>
				<h3>Interest Groups</h3>
				<p>Launch a private or public Common Interest Network for your hobby or cause.</p>
			</div>

		</div>

	</div>

</section>

{% include index/features.html %}

<section id="demo">
	<div class="page-header text-center">
		<h1>Test Drive PHPfox</h1>
		<h2>To give you a real world experience, our demo is our very own community.</h2>
	</div>

	<div class="browser" data-scrollreveal="enter after 0.20s">
		<span class="b"></span>
		<span class="b"></span>
		<span class="b"></span>
		<div class="browser-header">
			<span class="t">PHPfox Demo</span>
		</div>
		<div class="browser-url">
			community.phpfox.com
		</div>
		<div class="browser-content">
			<div class="image-load" data-src="/assets/img/members-profile-social-network-website-with-phpfox-script.jpg"></div>
			<div class="overlay-bg medium"></div>
			<a href="http://community.phpfox.com/theme/demo/" target="_blank">Launch Demo</a>
		</div>
	</div>
</section>

<section id="pricing" class="bg-primary">

	<div class="container">
		<div class="page-header text-center">
			<h1>Pricing</h1>
			<h2>Choose your flavor</h2>
		</div>
		{% include index/pricing.html %}

	</div>

</section>


<section id="faq">
	<div class="container">

		<div class="page-header text-center">
			<h1>FAQ</h1>
			<h2>Do you have Questions?</h2>
		</div>
		<div class="row" data-scrollreveal="enter after 0.20s">
			<div class="faq" id="faq">
				{% include index/faq.html %}
			</div>
		</div>

	</div>

</section>

{% include modals.html %}