---
layout: bootstrap
id: nebula
title: PHPfox Nebula - The Classic Social Network
custom_css: nebula.css
container: hide
nav_menu: <li><a href="/nebula/#welcome">Intro</a></li><li><a href="/nebula/#screenshots">Screenshots</a></li><li><a href="/nebula/#compare">Compared to Neutron</a></li><li><a href="/nebula/#pricing">Pricing</a></li><li><a href="/nebula/#pricing" class="what-is-phpfox">Buy Now</a></li>
---
<section id="welcome" class="bg-white">

	<div class="container">
		<div class="row">
			<div class="col-sm-4 vertical-align">
				<h1>Nebula</h1>
				<h2>
					Our classic, feature packed social networking solution for your niche.
				</h2>
				<div class="pricing">
					<a href="/" class="btn btn-default get-phpfox" data-product-id="1728723396:1783063236">Buy Now</a><span class="price">$299 one-time fee</span>
				</div>
			</div>
			<div class="col-sm-8 text-center">
				<div class="nebula-banner image-load" data-src="/assets/features/nebula/phpfox-version-3-social-network-script-with-likes-and-comments-community-features.png">

				</div>
			</div>
		</div>
	</div>

</section>

<section id="screenshots">
	<div class="container">
		<div class="page-header text-center">
			<h1>Screenshots</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="owl-example" class="owl-carousel">
					{% for image in site.data.nebula %}
						<div class="item">
							<a href="{{ image.l }}" title="{{ image.title }}" class="popup-gallery">
								<img src="{{ image.s }}" alt="{{ image.title }}">
								<div class="overlay"></div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="row text-center feature-view-more">
			<a href="/nebula/features/" class="nebula-features">View Full List</a>
		</div>
	</div>
</section>

<section id="compare" class="bg-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1">
				<div class="vertical-align">
					<h1>Compared to Neutron</h1>
					<h2>
						Neutron is our future flagship product and is currently beta, while Nebula is our current
						stable product.
					</h2>
					<h2>
						Both versions share many of the same social networking features. Our focus with Neutron was
						on slimming down the product and optimising each section from both a visual and technical aspect.
					</h2>
					<h2>
						Neutron also introduces a new "click &amp; install" extension system, allowing you to install apps,
						themes &amp; language packs with ease.
					</h2>
				</div>
			</div>
			<div class="col-sm-5 text-center">
				<div class="versus vertical-align">
					<div class="v_3">
						<span>v3</span>
					</div>
					<div class="v_4" data-sr="move 100px from bottom over 0.55s after 0.55s">
						<span>v4</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="pricing">
	<div class="container">
		{% include nebula/pricing.html %}
	</div>
</section>

<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="nebula-features" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Nebula Features</h4>
		</div>
		<div class="modal-content" id="nebula-features">

		</div>
	</div>
</div>

{% include modals.html %}
