---
layout: bootstrap
id: built-in-features
custom_css: built-in-features.css
title: Built-in Features
---
<div class="row">
	<nav class="build-in-menu col-md-3">
		<ul>
			{% for feature in site.data.features %}
			<li><a href="#{{ feature.url }}">{{ feature.h1 }}</a></li>
			{% endfor %}
			<!--<li class="back-to-top">Back to top</li>-->
		</ul>
	</nav>

	<div class="build-in-features col-md-9">
		{% for feature in site.data.features %}
			<section id="{{ feature.url }}">
				<h1>{{ feature.h1 }}</h1>
				{% for info in feature.features %}
					<article>
						<h1>{{ info.h1 }}</h1>
						<p>
							{{ info.p }}
						</p>
					</article>
				{% endfor %}
			</section>
		{% endfor %}
	</div>
</div>