<div class="list-group">
	<a href="#" class="list-group-item">
		<h4 class="list-group-item-heading">Is the source code encrypted?</h4>
		<p class="list-group-item-text">
			No, not one bit of it is! The PHPfox source code is 100% non-encrypted, giving you the power to customize the script without limitation.
		</p>
	</a>
	<a href="#" class="list-group-item">
		<h4 class="list-group-item-heading">Can I get a refund for my purchase?</h4>
		<p class="list-group-item-text">
			Yes, as long as your order was made within 30 Days you are fully entitled to request a refund with No Questions Asked!
			Further details can be read here.
		</p>
	</a>
</div>