<div class="modal fade" id="checkout" tabindex="-1" role="dialog" aria-labelledby="checkout" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Installation Service</h4>
			</div>
			<div class="modal-body">
				<p>Would you like us to install the product for you?</p>
				<p>
					Costs an additional <span class="label label-success">$49</span> and we will take care of installing the product on your web server.
				</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-default no-install">No, just the product</a>
				<a href="#" class="btn btn-primary with-install">Yes, include the Installation Service</a>
			</div>
		</div>
	</div>
</div>