<div class="row row-centered">
	<div class="plans">
		<div class="col-xs-12 col-sm-6 col-md-6 col-centered vertical-top">
			<h1>Pricing</h1>
			<h2>
				Neutron is our future flagship product and is currently beta, while Nebula is our current
				stable product.
			</h2>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-4 col-centered">
			<div class="plan featured" data-sr="enter over 1s">
				<div class="plan-title">
					<h2>Nebula</h2>
					<h3><sup>$</sup>299<sub>/ one-time fee</sub></h3>
				</div>

				<ul class="plan-features">
					<li><strong>Stable Release</strong></li>
					<li>Version 3.8.0</li>
				</ul>
				<div class="plan-cta">
					<p class="plan-buy">
						<a href="#" class="btn get-phpfox" data-product-id="1728723396:1783063236">Buy Now</a>
					</p>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-2 col-md-2 col-centered">

		</div>
	</div>
</div>