
@import "less/variables";
@import "less/mixins";

#page-developers {
	#content-holder {
		> .container {
			width:auto;
			max-width:none;
			margin:0px;
			padding:0px;
		}
	}
}

.dev-banner {
	> .image-load {
		background-size:cover;
		background-position:center center;
		height:500px;
		position:absolute;
		left:0px;
		right:0px;
		bottom:0px;
		top:0px;
	}

	position:relative;
	height:500px;
}

.dev-overlay {
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	top:0px;
	background:rgba(0, 0, 0, 0.7);
}

.dev-info {
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	top:0px;
	z-index:100;
	text-align:center;

	> h1 {
		line-height:480px;
		height:500px;
		margin:0px;
		color:#fff;
		font-weight:200;
		letter-spacing:1px;
	}
}

.dev-join-now, .dev-join-now:hover, .btn:hover {
	position:absolute;
	left:50%;
	width:200px;
	padding-left:0px;
	padding-right:0px;
	margin-left:-100px;
	bottom:100px;
	display:block;
	color:#fff;
	font-size:20px;
	font-weight:300;
}

.dev-join-now:hover {
	background:@theme-cta;
}