
@import "less/variables";
@import "less/mixins";

body {
	color:@text-color;
}

h1 {
	font-size:30px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color:@gray-dark;
}

.cbp-af-header h1 {
	margin:0px;
	.nav-logo {
		text-transform:none;
	}
}

/*
#demo {
	background:@theme-primary;
	color:#fff;

	h2 {
		color:#fff;
	}
}
*/

#demo {
	min-height:700px;
	position:relative;
	padding:0px;
	overflow:hidden;


	/*
	.page-header {
		position:absolute;
		left:0px;
		top:0px;
		bottom:0px;
		right:0px;
		margin:0px;
		padding:0px;
		margin-top:50px;
		z-index:100;

		h1 {
			display:none;
		}

		h1, h2 {
			color:#fff;
			margin-bottom:40px;
		}

		p {
			background:#fff;
			padding:20px;
			color:#808080;
			display:inline-block;
			border-radius:3px;
			font-size:16px;
			font-weight:300;

			a, a:hover {
				display:block;
				margin-top:20px;
				background:@theme-cta;
				color:#fff;
				text-decoration:none;
				padding:15px 0px;
				border-radius:30px;
			}
		}
	}

	.image-load {
		width:100%;
		background-size:cover;
		display:block;
		min-height:700px;
		height:100%;
	}
	*/
}

#demo {
	background:#fff;
	padding-bottom:70px;
}

.feature-view-more {
	margin-top:30px;

	a, a:hover {
		opacity:0.6;
		display:inline-block;
		color:#808080;
		border:3px lighten(#808080, 10%) solid;
		padding:8px 30px;
		font-size:16px;
		font-weight:300;
		border-radius:30px;
		text-decoration:none;
	}

	a:hover {
		opacity:1;
		transition:@transition;
		border-color:@theme-cta;
		color:#222;
		border-radius:30px;
	}
}

.browser {
	background:#D2D2D2;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	max-width:800px;
	height:500px;
	border-radius:5px;
	overflow:hidden;
	position:relative;
	margin:auto;
	text-align:left;

	.b {
		display:inline-block;
		margin-left:5px;
		background:#e74c3c;
		border-radius:50%;
		width:10px;
		height:10px;
		margin-top:11px;
		box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
	}

	.b:nth-of-type(2) {
		background:#f1c40f;
	}

	.b:nth-of-type(3) {
		background:#2ecc71;
	}

	.browser-header {
		position:absolute;
		left:70px;
		top:5px;
		color:#808080;
		background:#EEEEEE;
		font-size:12px;
		padding:4px 20px 10px 25px;
		z-index:1;
		border-radius:6px;
	}

	.browser-url {
		position:absolute;
		top:30px;
		background:#fff;
		color:#808080;
		left:5px;
		right:5px;
		height:25px;
		line-height:25px;
		z-index:2;
		font-size:12px;
		text-indent:10px;
		border-radius:3px;
	}

	.browser-content {
		background:#fff;
		overflow:hidden;
		position:absolute;
		top:65px;
		left:5px;
		right:5px;
		bottom:5px;
		border-radius:3px;

		> .image-load {
			background-size:cover;
			background-repeat:no-repeat;
			width:100%;
			height:100%;
		}

		.overlay-bg {
			display:block;
		}

		> a, > a:hover {
			display:block;
			position:absolute;
			top:50%;
			left:50%;
			height:50px;
			line-height:45px;
			letter-spacing:1px;
			width:300px;
			font-size:18px;
			font-weight:300;
			background:rgba(0, 0, 0, 0.6);
			color:#fff;
			border:3px @theme-cta solid;
			text-decoration:none;
			border-radius:30px;
			text-align:center;
			z-index:10;
			margin-left:-150px;
			margin-top:-25px;
			box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.8);
		}

		> a:hover {
			background:@theme-cta;
			transition:@transition;
		}
	}

	.browser-content:hover {
		transition:@transition;

		.overlay-bg, > a {
			display:block;
			transition:@transition;
		}
	}
}

.form-control, .btn {
	padding:8px;
	font-size:13px;
}
/*
.btn {
	font-size:12px;
}
*/

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
	background:#fff;
	color:#222;
	border-color:transparent;

	> i {
		font-size:20px;
		display:inline-block;
	}
}

#get-started-form {
	border-top:1px #dfdfdf solid;

	/*
	.page-header {
		> h2 {
			span {
				font-size:16px;
				line-height:normal;
				color:lighten(#808080, 10%);
				font-weight:200;
				display:inline-block;
				vertical-align:middle;
				margin-left:10px;
				margin-bottom:4px;
			}
		}
	}
	*/

	.form-inline {
		display:table;
		width:100%;
	}

	.form-group {
		display:table-cell;
		/*width:33%;*/
		width:33%;
		padding:0px 6px;
		vertical-align:bottom;

		.form-control, .btn {
			width:100%;
		}

		.btn {
			em {
				font-style:normal;
				color:darken(#fff, 40%);
				display:inline-block;
				margin-left:10px;
				text-transform:none;
				font-size:80%;
				vertical-align:middle;
				margin-bottom:4px;
			}

			> i {
				display:none;
			}
		}
	}
}

section.bg-white {
	background:#fff;
}

.base-site section.with-bg {
	h1 {
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
	}

	h2 {
		color:#fff;
	}
}

section.bg-primary {
	background:@theme-primary;

	h1 {
		color:#fff;
	}

	h2 {
		color:#808080;
	}
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	background:@theme-primary;
	color:#fff;
}

/*
.btn, .list-group-item {
	border-radius:0px !important;
}
*/

.btn {
	border-radius:30px !important;
	padding-left:20px;
	padding-right:20px;
}

.btn:hover {
	transition:@transition;
}

.faq {
	max-width:500px;
	margin:auto;

	> div.title {
		text-align:center;
		margin-bottom:20px;
	}

	.list-group-item:nth-of-type(n+6) {
		display:none;
	}

	.list-group-item.active:nth-of-type(n+6) {
		display:block;
	}
}

a.list-group-item, a.list-group-item:hover, a.list-group-item:focus, a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	padding:20px;
	color:#fff;
	border-color:darken(#fff, 20%);

	.list-group-item-heading {
		margin-bottom:0px;
		color:darken(#808080, 10%);
	}
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	.list-group-item-heading {
		color:#fff;
	}
}

.faq-ending {
	margin-top:30px;
}

.list-group-item-text {
	display:none;
	padding-top:10px;
	color:lighten(#808080, 10%) !important;
}

.list-group-item.active .list-group-item-text {
	display:block;
}

.overlay-bg {
	/*bottom:-2px;*/
}

#get-started {
	/*height:600px;*/
	min-height:700px;
	/*
	.item {
		> .image-load {
			background-size:cover;
			background-repeat:no-repeat;
			background-position:fixed;
			position:absolute;
			left:0px;
			right:0px;
			top:0px;
			bottom:0px;
		}
	}
	*/
	.learn-more {
		margin-top:20px;
		display:inline-block;
		background:rgba(0, 0, 0, 0.4);
		padding:20px 40px 40px 40px;

		> div {
			font-size:11px;
			text-transform:uppercase;
			font-weight:500;
			margin-bottom:15px;
			color:darken(#fff, 30%);
		}

		> span {
			display:inline-block;
			margin:0px 20px;
			color:#fff;
			font-size:20px;
			font-weight:200;
			vertical-align:middle;
		}

		> a, > a:hover {
			display:inline-block;
			padding:10px 40px 10px 40px;
			font-size:18px;
			color:#fff;
			font-weight:200;
			letter-spacing:1px;
			text-decoration:none;
			border:3px @theme-cta solid;
			background:transparent;
			vertical-align:middle;
			position:relative;

			transition:box-shadow 0.8s ease;
			box-shadow: inset 10px 94px 150px -200px transparent;

			> span {
				display:block;
				font-size:11px;
				color:darken(#fff, 30%);
				margin-top:1px;
				position:absolute;
				left:0px;
				bottom:-25px;
				right:0px;
			}

			> i {
				font-size:25px;
				color:darken(#fff, 20%);
				vertical-align:middle;
			}
		}

		> a:hover {
			/*background:@theme-cta;*/
			transition:box-shadow 0.8s ease;
			box-shadow: inset 10px 200px 0px -66px @theme-cta;

			> span {
				color:#fff;
			}
		}

		> a:not(:first-of-type), > a:not(:first-of-type):hover {
			/*background:#0c0c0c;*/
			/*color:#fff;*/
			box-shadow: inset 10px 94px 150px -200px transparent;
			border-color:#298ADA;
		}

		> a:not(:first-of-type):hover {
			/*background:#298ADA;*/
			box-shadow: inset 10px 200px 0px -66px #298ADA;
			/*background:lighten(#0c0c0c, 20%);*/
		}
	}

	> .item {
		position:absolute;
		overflow:hidden;
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
		z-index:1;
		background-size:cover;
		background-repeat:no-repeat;
		background-attachment:fixed;
	}

	.container > .row {

		position:absolute;
		max-width:900px;
		left:0px;
		right:0px;
		bottom:40px;
		height:auto;
		margin:auto;
		z-index:100;
		color:#fff;
		text-align:center;

		h1 {
			font-size:60px;
			font-weight:300;
			color:#fff;
		}

		h2 {
			font-size:24px;
			font-weight:100;
			max-width:700px;
			margin-top:20px;
			color:darken(#fff, 10%);

			> span.beta {
				background:@theme-cta;
				color:#fff;
				display:inline-block;
				margin-left:10px;
				vertical-align:middle;
				font-size:9px;
				padding:2px 4px;
				text-transform:uppercase;
				font-weight:bold;
			}
		}
	}
}

#get-started-form {
	padding:10px 0px;

	h3 {
		display:block;
		font-size:12px;
		margin-top:10px;
		color:#808080;
	}

	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
	text-align:center;
	background:#fff;
	z-index:99999999;

	visibility:hidden;
}

.cbp-af-header.cbp-af-header-shrink h1, .cbp-af-header.cbp-af-header-shrink .nav a {
	color:lighten(#808080, 20%);
}

.navbar .navbar-nav .current > a {
	color:#fff !important;
}

.cbp-af-header .nav {
	a.get-started {
		display:none;
	}
}

.cbp-af-header-shrink .nav {
	a.get-started, a.get-started:hover, a.get-started:focus {
		display:block;
		-moz-transition: none;
		-webkit-transition: none;
		/*-o-transition: color 0 ease-in;*/
		transition: none;
		height:40px;
		line-height:34px;
		background:transparent;
		border:3px @theme-cta solid;
		padding:0px 10px;
		margin-top:15px;
	}
}

a, a:hover, a:focus {
	outline:0 !important;
}

/*
#get-started .carousel-caption-center, #get-started-video .carousel-caption-center {

}

#get-started .carousel-caption-center .btn, #get-started-video .carousel-caption-center .btn, .btn {
	background:transparent;
	border:3px @theme-cta solid;
	text-transform:uppercase;
}

#get-started .carousel-caption-center h2, #get-started-video .carousel-caption-center h2 {
	font-size:14px;
	font-weight:200;
}

#get-started .carousel-caption-center h3, #get-started-video .carousel-caption-center h3 {
	font-size:14px;
	opacity:0.6;
}
*/

.page-header {
	/*display:none;*/
}

.page-header h1 {
	color:@theme-primary;
	text-transform:none;
	font-weight:200;
	font-size:40px;
	margin:0px 0px 10px 0px;
	padding:0px;
}

.page-header h2 {
	font-size:20px;
	color:lighten(#808080, 10%);
}

.base-site {
	section {
		margin:0px;
		padding:0px;

		p {
			font-size:@font-size-base;
			font-weight:400;
			color:lighten(#808080, 10%);
		}

		> .container {
			padding:30px 0px;
		}
	}

	section.content h2 {
		font-weight:100;
	}

	section h1 {
		font-weight:100;
		font-size:50px;
		margin-bottom:20px;
	}

	section h2 {
		text-transform:none;
		max-width:900px;
		margin:auto;
		margin-bottom:20px;
		font-weight:100;
		font-size:20px;
		color:lighten(#808080, 5%);
	}

	section h3 {
		font-size:2em;
		font-weight:200;
		color:#333;
	}
}

#featured2 {
	> .container {

	}
}

.carousel-control {
	color:#808080;
	width:100px;
}

/*
.carousel-control.right {
	margin-right:-110px;
}

.carousel-control.left {
	margin-left:-110px;
}
*/

.carousel-control {
	i {
		text-shadow:none;
		position:absolute;
		top:50%;
		left:50%;
		font-size:30px;
		color:#808080;
		margin-left:-15px;
		display:none;
	}
}

.carousel-control:hover {
	background:rgba(0, 0, 0, 0.1);

	i {
		display:block;
	}
}

#carousel-example-generic > .carousel-indicators {
	bottom:auto;
	top:-10px;

	li, li.active {
		border-radius:0px;
		width:20px;
		height:20px;
		border:1px #dfdfdf solid;
		margin:0px 2px;
	}
}

.carousel-indicators li {
	border-color:@theme-cta;
	background:transparent;
}

.carousel-indicators .active {
	background:@theme-cta;
}


.cbp-af-header {
	height:70px;
	position:absolute;
	/*
	h1 {
		margin:0px;
		padding:0px;
		display:block;
		position:static;
	}

	.nav-extra {
		display:none;
	}
	*/
}

/*
.navbar-header h1 span.i {
	position:absolute;
	left:50%;
	top:15px;
}
*/

.navbar-brand, .navbar-brand:hover {
	/*
	width:40px;
	height:40px;
	line-height:40px;
	padding:0px;
	*/
	height:70px;
	line-height:70px;
	padding:0px;
	position:static;
	font-weight:700;
}

.cbp-af-header .nav a, .cbp-af-header .nav a:hover {
	text-transform:none;
	font-size:20px;
	font-weight:300;
	color:#fff;
	margin:0px;
	padding:0px 20px;
}

.cbp-af-header .nav {
	/*
	position:absolute;
	right:5px;
	top:20px;

	a, a:hover {
		i {
			font-size:20px;
			color:lighten(#808080, 10%);
		}

		margin-left:15px;
		display:inline-block;
		vertical-align:middle;
	}
	*/

	.get-started-link {
		transition: all 0.50s ease;

		.btn-primary, .btn-primary:hover, .btn, .btn:hover, .btn:focus, .btn:active, .btn-primary:focus, .btn-primary:active {
			padding:6px 10px;
			background:transparent;
			color:#222;
			border-color:@theme-cta !important;
			height:auto;
			line-height:normal;
		}
	}
}

footer.footer {
	padding-top:0px;
	padding-bottom:150px;

	/*
	.btn {
		background:@theme-cta;
		color:#fff;
	}

	.btn:hover {
		border-color:#fff;
		background:@theme-primary;
		color:#fff;
	}
	*/


	.footer-nav {
		.col-md-3 {
			margin-bottom:30px;
		}
	}

	.footer-copyright {
		position:relative;
		border-top:1px #3F3F3F solid;
		padding-top:20px;
		margin-top:20px;
	}

	.terms {
		position:absolute;
		right:20px;
		top:20px;

		span {
			display:inline-block;
			margin:0px 10px;
			color:darken(#fff, 50%);
		}
	}

	ul li a, ul li a:hover, .terms a {
		color:darken(#fff, 50%);
	}

	ul li a:hover {
		color:#fff;
	}

	h3 {
		margin-top:0px;
		color:#fff;
	}
}

.more-clicked {
	footer.footer {
		position:fixed;
		top:70px;
		left:0px;
		right:0px;
		bottom:0px;
		z-index:100;
		overflow:auto;
	}
}

#get-started-form {
	transition: all 0.50s ease;
}

@media (min-width:480px) {
	.in-fixed-mode, #page-index.in-fixed-mode {
		.navbar .navbar-nav .current > a {
			color:#000 !important;
		}

		.nav {
			.get-started-link {
				display:block;
			}
		}

		.navbar-brand {
			color:lighten(@theme-primary, 8%);
		}

		.cbp-af-header {
			position:fixed;
			background:#fff;
			border-bottom:1px #dfdfdf solid;
			transition: all 0.50s ease;
		}

		.cbp-af-header .nav a, .cbp-af-header .nav a:hover {
			color:lighten(#808080, 20%);
		}

		.cbp-af-header .nav a:hover {
			color:#222;
		}

		.nav-extra {
			display:block;
		}

		#get-started-form {
			transition: all 0.50s ease;
		}
	}
}

#content-holder {
	min-height:500px;
	margin-top:70px;
	padding-bottom:100px;
}

.not-index-page, #page-index {
	.navbar-brand {
		width:auto;
	}

	.navbar-header h1 {
		left:0px;
		font-weight:200;
		margin:0px;
		padding:0px;
		line-height:70px;
		height:70px;
		display:inline-block;
		vertical-align:middle;
		float:none;
	}

	.navbar-header h2:before {
		content: '/';
		display:inline-block;
		vertical-align:middle;
		font-size:20px;
		font-weight:500;
		margin-right:6px;
		color:lighten(#dfdfdf, 1%);
	}

	.navbar-header h2 {
		vertical-align:top;
		display:inline-block;
		font-weight:500;
		text-transform:uppercase;
		font-size:12px;
		margin-left:5px;
		margin-top:0px;
		color:@theme-cta;
		line-height:70px;
		float:none;

		a, a:hover {
			color:@theme-cta;
			font-size:12px;
			text-decoration:none;
		}
	}

	/*
	.navbar-brand span.i {
		margin-top:15px;
	}

	.navbar-brand span, .navbar-brand span.t {
		display:inline-block;
		color:lighten(#808080, 10%);
		vertical-align:middle;
	}
	*/
}

.cbp-af-header .nav, .in-fixed-mode .cbp-af-header .nav, #page-index.in-fixed-mode .cbp-af-header .nav {
	a.what-is-phpfox, a.what-is-phpfox:hover, a.get-started-link, a.get-started-link:hover {
		height:40px;
		line-height:40px;
		font-size:16px;
		background:@theme-cta;
		color:#fff !important;
		border-radius:30px;
		margin-top:15px;
	}
}

.icons .icon-wrapper {
	background:lighten(@theme-primary, 20%);
}

.social {
	background:lighten(#0c0c0c, 15%);
	padding:20px 0px;
	margin-bottom:30px;

	.container {
		position:relative;

		> a, > a:hover {
			font-size:20px !important;
			display:inline-block;
			height:40px;
			width:40px;
			color:#fff;
			border-radius:50%;
			margin:0px 5px 0px 0px;
			text-align:center;

			> i {
				margin-top:11px;
			}
		}

		> a:hover {
			background:#fff;
			color:#222;
			transition:@transition;
		}
	}

	.s-twitter {
		background:#55ACEE;
	}

	.s-facebook {
		background:#43609C;
	}

	.s-github {
		background:#4183C4;
	}
}

.navbar-brand span {
	color: #b3b3b3;
	font-weight: 300;
}

.overlay-bg-lighter {
	background:rgba(0, 0, 0, 0.2);
}

.overlay-bg.medium {
	background:rgba(0, 0, 0, 0.2);
}

.p-special {
  font-style:italic;
  font-size:18px !important;
  color:darken(#fff, 10%) !important;
  font-weight:600 !important;
  margin-bottom: 10px !important;
}

.p-special-2 {
  color:darken(#fff, 15%) !important;
  font-size:16px !important;
}

/*
section.dark.with-bg {
  background-image: url("../img/be-the-boss-of-your-online-social-network-with-phpfox.jpg");
  background-size:cover;
}
*/

section.dark.with-bg {
	background:transparent;

	.bg-image {
		background-attachment:fixed;
		width:100%;
		height:100%;
		background-size:cover;
		position:absolute;
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
	}
}

a.contact-us, a.contact-us:hover, a.contact-us:focus {
	visibility:hidden;
	position:fixed;
	right:10px;
	bottom:8px;
	height:50px;
	line-height:46px;
	padding:0px 20px;
	border-radius:30px;
	background:#fff;
	border:3px #dfdfdf solid;
	color:lighten(#808080, 10%);
	z-index:9999999;
	text-decoration:none;
	font-size:12px;
	font-weight:500;

	> span {
		margin-left:8px;
	}

	> i {
		font-size:30px;
		vertical-align:middle;
		color:lighten(#808080, 40%);
	}
}

a.contact-us:hover {
	border-color:@theme-cta;
	transition:@transition;
	color:#222;
}

.get-in-touch-form {
	padding:20px;

	#mc_embed_signup .btn {
		display:none;
	}

	> strong {
		font-weight:300;
		text-transform:uppercase;
		display:block;
		padding-bottom:10px;
		color:#808080;
	}

	.form-control {
		background:lighten(#000, 30%);
		color:#808080;
		border-color:transparent;
	}
}

.footer-contact {
	position:absolute;
	right:15px;
	top:2px;

	.btn-default, .btn-default:hover {
		background:transparent;
		border:1px #808080 solid;
		color:#808080;
		display:inline-block;
		margin-left:10px;
	}

	.btn-default:hover {
		color:#fff;
		border-color:#fff;
		transition:@transition;
	}
}

.newsletter-form {
	/*
	border:3px lighten(#000, 15%) solid;
	padding:20px;
	margin:10px 0px;
	*/

	.form-control {
		background:lighten(#2F2F2F, 10%);
		color:#808080;
		border:lighten(#2F2F2F, 10%);
		padding:10px;
	}

	.form-control:focus {
		background:#fff;
	}
}

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size:350px;
	font-style: normal;
	margin-left: 20px;
	display:block;
}

.flaticon-paint86:before {
	 content: "\e000";
}

.flaticon-responsive16:before {
	content: "\e001";
}

.flaticon-medium:before {
	font-size:250px !important;
}

.latest-blogs {
	ul {
		margin:0px;
		padding:0px;

		li {
			margin:0px;
			padding:0px;
			margin-bottom:8px;
		}
	}
}

#pricing {
	padding-bottom:50px;
}

#pricing .plan {
	border-radius:0px;
}

#pricing .plan .plan-features li {
	color:#808080;
}

/*
#pricing {
	.plans {
		.plan {
			.plan-title {
				border-radius:0px;
				background:@theme-cta;
				color:#fff;
			}
		}

		.col-centered:nth-of-type(1) {
			.plan {
				.plan-title {
					background:darken(#fff, 10%);

					h2 {
						color:#808080;
					}

					h3 {
						color:#222;
					}
				}
			}
		}

		.col-centered:nth-of-type(3) {
			.plan {
				.plan-title {
					background:#298ADA;
				}
			}
		}
	}
}

#pricing .plan .plan-title h2, #pricing .plan .plan-title h3 {
	color:#fff;
}

#pricing .plan .plan-cta .plan-buy .btn, #pricing .plan .plan-cta .plan-buy .btn:hover {
	background:@theme-primary;
	color:#fff;
}
*/

#pricing .plan.featured .plan-title {
	background:#298ADA;
	border-radius:0px;

	h2, h3 {
		color:#fff;
	}
}

#pricing .plan.featured, #pricing .plan.featured:hover {
	transition:@transition;

	.plan-cta .plan-buy .btn, .plan-cta .plan-buy .btn:hover {
		background:lighten(@theme-primary, 15%);
		color:#fff;
	}
}

#pricing .plan .plan-cta .plan-buy .btn, #pricing .plan .plan-cta .plan-buy .btn:hover {
	background:#F5F5F5;
	color:#808080;
}

.plans {
	> div {
		max-width:300px;
	}

	> div > div {

	}

	> div > div.featured {
		opacity:1;
	}

	> div > div:hover {
		transition:@transition;
		opacity:1;
	}
}

/* centered columns styles */
.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	float:none;
	/* reset the text-align */
	text-align:left;
	/* inline-block space fix */
	margin-right:-4px;
}

.vertical-top {
	vertical-align:top;
}

#neutron-features {
	position:relative;

	.build-in-menu {
		position:absolute;
		left:0px;
		top:0px;
		bottom:0px;
		width:200px;
		overflow:auto;
		background:#f6f6f6;

		> ul {
			padding:0px;
			margin:0px;
			list-style-type:none;

			li {
				margin:0px;
				padding:0px;

				a, a:hover {
					display:block;
					padding:10px 0px;
					text-indent:10px;
					color:lighten(#808080, 5%);
					text-decoration:none;
				}

				a:hover {
					color:#222;
					transition:@transition;
				}

				a.active, a.active:hover {
					background:@theme-cta;
					color:#fff;
				}
			}
		}
	}

	.build-in-features {
		margin-left:200px;

		> section {
			display:none;

			> h1 {
				font-weight:300;
				font-size:26px;
				color:lighten(#808080, 15%);
				border:0px;
				padding:20px;
				margin:0px;
			}

			> article {
				padding:5px 20px;
				> h1 {
					font-size:16px;
					margin:0px;
					font-weight:400;
				}

				> p {
					margin-bottom:10px;
				}
			}
		}

		> section:first-of-type {
			display:block;
		}

		> section {
			display:none;
		}
	}
}

.modal-header {
	background:#fff;
	border-color:#dfdfdf;
}

.modal-footer {
	border:0px;
	margin:0px;
	background:#fff;
}

.modal-content {
	border-radius:0px;
	box-shadow:none;
	border:0px;
	background:#fff;
}

.owl-theme-main .owl-item .item a, .owl-theme-main .owl-item .item a:hover {
	position:relative;
	display:block;
	overflow:hidden;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
	transition-property: all;
	transition-duration: 0.1s;
	transition-timing-function: ease;

	.overlay {
		width:300px;
		height:400px;
		position:absolute;
		top:-140px;
		left:-40px;
		transition:1s;
		transform:rotate(30deg);
		background:linear-gradient(0deg, rgba(255, 255, 255, 0)50%, rgba(255, 255, 255, 0.7)100%);
	}
}

.owl-theme-main .owl-item .item a:hover {
	transition-property: all;
	transition-duration: 0.1s;
	transition-delay:0.4s;
	transition-timing-function: ease;

	.overlay {
		left:-300px;
		background:linear-gradient(0deg, rgba(255, 255, 255, 0)50%, rgba(255, 255, 255, 0.7)100%);
	}
}

.owl-theme-main .owl-item .item img {
	border-radius:0px;
}

.page-not-found {
	margin-top:60px;
	font-size:16px;
	display: block;
	unicode-bidi: embed;
	font-family: monospace;
	white-space: pre;
	line-height:normal;
	border:0px;
	background:transparent;
	text-align:center;

	textarea {
		font-size:18px;
		width:420px;
		height:200px;
		background:transparent;
		border:0px;
		margin:0px;
		padding:0px;
		unicode-bidi: embed;
		font-family: monospace;
		resize:none;
	}
}

#page-404 {
	#content-holder {
		padding-bottom:10px;

		section {
			padding-bottom:0px;

			h1 {
				margin-bottom:0px;
			}
		}
	}
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

#contact-us {
	position:fixed;
	top:70px;
	left:0px;
	right:0px;
	bottom:0px;
	background:rgba(0, 0, 0, 0.6);
	z-index:30000;
}

i.the-spin {
	position:absolute;
	font-size:30px;
	left:50%;
	top:50%;
	margin-left:-15px;
	margin-top:-15px;
}

.cbp-af-header h1 a, .cbp-af-header h1 a:hover {
	margin:0px !important;
}

.navbar-header {
	#respond {
		display:none;
		width:70px;
		height:70px;
		position:fixed;
		right:0px;
		top:0px;
		cursor:pointer;
		z-index:100000000;

		i {
			color:#808080;
			font-size:30px;
			position:absolute;
			left:50%;
			top:50%;
			margin-left:-12px;
			margin-top:-15px;
		}
	}
}

.navbar-collapse {
	padding-right:0px;
}

/**
 * # Respond
 */
@media (max-device-width: 480px), (max-width: 480px) {

	.navbar .navbar-nav .current > a, .navbar .navbar-nav .current > a:hover {
		color:#222 !important;
	}

	.navbar-header {
		/*height:70px;*/
		background:transparent;

		#respond {
			display:block;
		}
	}

	.cbp-af-header .nav {
		display:none;
		position:fixed;
		height:100%;
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
		z-index:10000000;
		background:#fff;
		border-top:1px #dfdfdf solid;
		padding-top:60px;
	}

	.row {
		margin-left:0px;
		margin-right:0px;
	}

	[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
	    font-size:4em;
    }

	#get-started .learn-more > span {
		display:block;
		margin:30px 0px 20px 0px;
	}

	.navbar {
		border:0px;
	}

	.container {
		padding:20px;
		margin:0px 10px;
		width:auto;
	}

	.navbar-collapse {
		width:100%;
		background:#dfdfdf;
	}

	.cbp-af-header {
		position:static;
		height:auto;
		z-index:1000000;
		background:#fff;
		/*height:70px;*/

		> .container {
			margin:0px;
			padding:0px;
			/*position:fixed;*/
			/*
			top:0px;
			left:0px;
			right:0px;
			z-index:1000000;
			*/
			position:static;
		}
	}

	.not-index-page .navbar-header h1, #page-index .navbar-header h1 {
		margin-left:10px;
	}

	.cbp-af-header h1 a, .cbp-af-header h1 a:hover {
		color:#222;
	}

	.navbar-toggle {
		margin-right:10px;
		color:#808080;
		background:#0c0c0c;
	}

	.navbar-toggle .icon-bar {
		background:#808080;
	}

	.cbp-af-header .nav a.what-is-phpfox, .in-fixed-mode .cbp-af-header .nav a.what-is-phpfox, #page-index.in-fixed-mode .cbp-af-header .nav a.what-is-phpfox, .cbp-af-header .nav a.what-is-phpfox:hover, .in-fixed-mode .cbp-af-header .nav a.what-is-phpfox:hover, #page-index.in-fixed-mode .cbp-af-header .nav a.what-is-phpfox:hover, .cbp-af-header .nav a.get-started-link, .in-fixed-mode .cbp-af-header .nav a.get-started-link, #page-index.in-fixed-mode .cbp-af-header .nav a.get-started-link, .cbp-af-header .nav a.get-started-link:hover, .in-fixed-mode .cbp-af-header .nav a.get-started-link:hover, #page-index.in-fixed-mode .cbp-af-header .nav a.get-started-link:hover {
		border-radius:0px;
	}

	.cbp-af-header .nav a, .cbp-af-header .nav a:hover {
		color:#808080 !important;
	}

	#get-started > .item {
		background-attachment:scroll;
	}

	.social {
		text-align:center;
	}

	.footer-contact {
		position:static;
		margin-bottom:40px;
	}

	.modal {
		z-index:1000000001;
	}

    .modal-footer {
	    text-align:center;

	    .btn {
		    display:block;
		    margin-top:15px;
	    }
    }
}

#page-demo, #page-pricing {
	#the-holder {
		padding-top:70px;
	}
}

#page-index {
	#the-header, #the-holder {
		visibility:hidden;
	}
}