<section id="demo">
	<div class="page-header text-center">
		<h1>Test Drive PHPfox</h1>
		<h2>To give you a real world experience, our demo is our very own community.</h2>
	</div>

	<div class="browser" data-sr="enter after 0.20s">
		<span class="b"></span>
		<span class="b"></span>
		<span class="b"></span>
		<div class="browser-header">
			<span class="t">PHPfox Demo</span>
		</div>
		<div class="browser-url">
			community.phpfox.com
		</div>
		<div class="browser-content">
			<div class="image-load" data-src="/assets/img/members-profile-social-network-website-with-phpfox-script.jpg"></div>
			<div class="overlay-bg medium"></div>
			<a href="http://community.phpfox.com/" target="_blank">Launch Demo</a>
		</div>
	</div>
</section>