<section id="features" class="dark with-bg">

	<div class="container">
		<div class="row">
			<div class="col-sm-5 overlay-text">
				<div class="vertical-align">
					<h1 data-sr="enter after 0.10s">Be the Boss</h1>
					<h2 data-sr="enter after 0.40s">
						<em>Your Social Network, Your Rules.</em>
						You have the full possibility to manage your Social Website with the built-in and easy-to-use features in PHPfox.
					</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-image image-load" data-src="/assets/img/be-the-boss-of-your-online-social-network-with-phpfox.jpg"></div>
	<div class="overlay-bg black"></div>

</section>

<section class="featured">

	<div class="container">

		<div class="row">
			<div class="col-sm-5 text-center">
				<i class="flaticon-responsive16" data-sr="enter after 0.20s"></i>
			</div>
			<div class="col-sm-5 col-sm-offset-1">
				<div class="vertical-align">
					<h1 data-sr="enter after 0.30s">Responsive</h1>
					<h2 data-sr="enter after 0.60s">
						PHPfox is a Social Network Script that is both Desktop &amp; Mobile friendly.
						Giving you the opportunity to run a modern and easy-to-use Social Website.
					</h2>
				</div>
			</div>
		</div>
	</div>

</section>

<section class="featured bg-primary">

	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1">
				<div class="vertical-align">
					<h1 data-sr="enter after 0.20s">Your Brand</h1>
					<h2 data-sr="enter after 0.40s">
						Present your community to your members as your own brand with your own unique concept and design.
					</h2>
				</div>
			</div>
			<div class="col-sm-5 text-center">
				<i class="flaticon-paint86 flaticon-medium" data-sr="enter after 0.80s"></i>
			</div>
		</div>
	</div>

</section>

<section class="featured">
	<div class="container">

		<div class="page-header text-center">
			<h1>Feature Packed</h1>
			<h2>Everything you need to start your social network.</h2>
		</div>

		<div class="row" data-sr="enter after 0.20s">
			<div class="col-md-12">
				<div id="owl-example" class="owl-carousel">
					{% for image in site.data.images %}
					<div class="item">
						<a href="{{ image.l }}" title="{{ image.title }}" class="popup-gallery">
							<img src="{{ image.s }}" alt="{{ image.title }}">
							<div class="overlay"></div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="row text-center feature-view-more" data-sr="enter after 0.40s">
			<a href="/neutron/features/" class="neutron-features">View Full List</a>
		</div>

	</div>
</section>

<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="neutron-features" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Neutron Features</h4>
		</div>
		<div class="modal-content" id="neutron-features">

		</div>
	</div>
</div>