<section id="features" class="dark with-bg">

	<div class="container">
		<div class="row">
			<div class="col-sm-5 overlay-text">
				<div class="vertical-align">
					<h1>Work to your own schedule</h1>
					<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="overlay-bg black"></div>

</section>

<section class="featured">

	<div class="container">

		<div class="row">
			<div class="col-sm-5 text-center">
				<img class="margin-top img-responsive" src="/assets/img/imac.png" alt="Generic placeholder image" data-scrollreveal="move 100px and enter from the left after 0.55s" width="429">
			</div>
			<div class="col-sm-5 col-sm-offset-1">
				<div class="vertical-align">
					<h2>Effortless time management</h2>
					<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
			</div>
		</div>
	</div>

</section>

<section class="featured bg-primary">

	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1">
				<div class="vertical-align">
					<h2>Effortless time management</h2>
					<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
			</div>
			<div class="col-sm-5 text-center">
				<img class="margin-top img-responsive" src="/assets/img/imac.png" alt="Generic placeholder image" data-scrollreveal="move 100px and enter from the right after 0.55s" width="429">
			</div>
		</div>
	</div>

</section>

<section class="featured">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="owl-example" class="owl-carousel">
					<div class="item">
						<a href="/assets/img/thumbs/thumb1.jpg" class="popup-gallery">
							<img src="/assets/img/thumbs/thumb1.jpg" alt="Prestige Portfolio Thumbnail Image">
						</a>
					</div>
					<div class="item">
						<a href="/assets/img/thumbs/thumb2.jpg" class="popup-gallery">
							<img src="/assets/img/thumbs/thumb2.jpg" alt="Prestige Portfolio Thumbnail Image">
						</a>
					</div>
					<div class="item">
						<a href="/assets/img/thumbs/thumb3.jpg" class="popup-gallery">
							<img src="/assets/img/thumbs/thumb3.jpg" alt="Prestige Portfolio Thumbnail Image">
						</a>
					</div>
					<div class="item">
						<a href="/assets/img/thumbs/thumb4.jpg" class="popup-gallery">
							<img src="/assets/img/thumbs/thumb4.jpg" alt="Prestige Portfolio Thumbnail Image">
						</a>
					</div>
					<div class="item">
						<a href="/assets/img/thumbs/thumb5.jpg" class="popup-gallery">
							<img src="/assets/img/thumbs/thumb5.jpg" alt="Prestige Portfolio Thumbnail Image">
						</a>
					</div>
					<div class="item">
						<a href="/assets/img/thumbs/thumb6.jpg" class="popup-gallery">
							<img src="/assets/img/thumbs/thumb6.jpg" alt="Prestige Portfolio Thumbnail Image">
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>