<div class="row row-centered">
	<div class="plans">

		<!--
		<div class="col-xs-12 col-sm-4 col-md-4 col-centered">
			<div class="plan" data-scrollreveal="enter over 1s">
				<div class="plan-title">
					<h2>Nebula &amp; Neutron</h2>
					<h3><sup>$</sup>399<sub>/ one-time fee</sub></h3>
				</div>

				<ul class="plan-features">
					<li>Get both versions</li>
					<li>Version 3.8.0 &amp; 4.0.0rc2</li>
				</ul>
				<div class="plan-cta">
					<p class="plan-buy"><a href="#" class="btn btn-default" data-product-id="1782840388:1783052484">Pre-Order</a></p>
				</div>
			</div>
		</div>
		-->

		<div class="col-xs-12 col-sm-4 col-md-4 col-centered">
			<div class="plan featured" data-scrollreveal="enter over 1s">
				<div class="plan-title">
					<h2>Nebula</h2>
					<h3><sup>$</sup>299<sub>/ one-time fee</sub></h3>
				</div>

				<ul class="plan-features">
					<li><strong>Stable Release</strong></li>
					<li>Version 3.8.0</li>
				</ul>
				<div class="plan-cta">
					<p class="plan-buy">
						<a href="#" class="btn" data-product-id="1728723396:1783063236">Buy Now</a>
					</p>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-4 col-centered">
			<div class="plan" data-scrollreveal="enter over 1s">
				<div class="plan-title">
					<h2>Neutron</h2>
					<h3><sup>$</sup>199<sub>/ pre-order price</sub></h3>
				</div>

				<ul class="plan-features">
					<li>Beta Preview</li>
					<li>Version 4.0.0rc2</li>
				</ul>
				<div class="plan-cta">
					<p class="plan-buy"><a href="#" class="btn btn-default" data-product-id="1365422020:1783067396">Pre-Order</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row text-center top30">
	Both products come with a <a href="/terms/guarantee/">30 Day Money Back Guarantee</a>
</div>